* {
  margin: 0;
  padding: 0;
}

main {
  width: 90vw;
  background-color:lightgray;
  margin: 30px auto;
  text-align: center;
  justify-content: center;

}

h1 {
  padding: 40px;
  font-size: 2.5em;
}

#img-div {
  width: 95%;
  background-color: white;
  padding: 30px 10px;
  margin: auto;
}

img {
  width: 85%;
  height: auto;
}